@import '../../index.css';

.navbar,
.navbar__link,
.navbar__top,
.navbar__icon,
.submenu__link,
.navbar-wrapper {
  display: flex;
  align-items: center;
}

.navbar {
  min-height: 48px;
  padding: 12px 0;
}

.navbar,
.navbar__top {
  gap: 50px;
}

.navbar__icon {
  gap: 10px;
  justify-content: right;
}

.navbar__logo {
  margin-right: 30px;
}

.navbar-wrapper,
.input-field {
  flex: 1;
}

.navbar__top,
.navbar__link {
  position: relative;
}

.navbar__link,
.submenu__link {
  color: var(--primary-color);
  font-size: var(--font-size-small);
  font-weight: 400;
  padding: 10px 10px;
  gap: 7px;
  white-space: nowrap;
  justify-content: space-between;
}

.navbar__items,
.submenu__items {
  position: absolute;
  width: fit-content;
  border-bottom: 1px solid var(--border-color);
  border-right: 1px solid var(--border-color);
  box-sizing: border-box;
}

.dropdown-icon {
  display: none;
}

.navbar__items {
  left: 0;
  top: 4%;
}

.submenu__items {
  left: 100%;
  top: 0;
}

.navbar__icon svg {
  min-width: 24px;
}

.navbar__link:hover,
.navbar__link:focus,
.navbar__link:active,
.submenu__link:hover,
.submenu__link:focus,
.submenu__link:active {
  background-color: var(--tertiary-color);
  text-decoration: none;
}

.navbar__toggle-icon:hover,
.navbar__icon svg:hover {
  cursor: pointer;
  transform: scale(1.2);
  opacity: 0.8;
}

.navbar__icon svg:hover {
  transform-origin: right;
}

.navbar__toggle-icon:hover {
  transform-origin: left;
}

.search-form {
  background-color: var(--search-form-bg-color);
}

@media (max-width: 600px) {
  .input-field {
    display: none !important;
  }
}

@media (min-width: 601px) {
  .search-icon {
    display: none;
  }
}

@media (min-width: 1024px) {

  .navbar__toggle-icon,
  .next-icon {
    display: none;
  }

  .navbar_menu {
    display: flex !important;
  }

  .navbar__items {
    display: flex;
    border: none;
    position: relative;
    flex-direction: row;
  }

  .submenu__items {
    top: 100%;
    left: 0;
    border-left: 1px solid var(--border-color);
  }

  .dropdown-icon {
    display: block;
  }
}
