@import '../../index.css';

.footer-group{
  font-size: var(--font-size-x-small);
}

.footer-group__title {
  font-weight: 500;
}

.footer-group__link {
  color: var(--tertiary-color);
}

.footer-group__item {
  margin-top: 16px;
}

