.quality {
  display: block;
  text-align: left;
  margin: auto;
}

.quality__number {
  align-content: center;
  font-size: var(--font-size-large);
  font-weight: 700;
  height: var(--height-medium);
}

.quality__label {
  align-content: center;
  font-size: var(--font-size-xx-small);
  height: var(--height-small);
}
