:root {
  --primary-color: #000000;
  --secondary-color: #FFFFFF;
  --button-border-color: #0000001A;
}

.button {
  font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 700;
  border-radius: 60px;
  cursor: pointer;
  border: none;
}

.button--primary {
  border: 1px var(--button-border-color) solid;
  background-color: var(--primary-color);
  color: var(--secondary-color);
}

.button--secondary {
  border: none;
  background-color: var(--secondary-color);
}

.button--small {
  font-size: 12px;
  padding: 10px 16px;
}

.button--medium {
  font-size: 14px;
  padding: 11px 20px;
}

.button--large {
  font-size: 14px;
  padding: 12px 24px;
}

.button--block {
  width: 100%;
  display: block;
}
