:root {
  --button-border-color: var(--border-color);
  --button-hover-border-color:var(--orange-color);
}

.button {
  font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 700;
  border-radius: 60px;
  cursor: pointer;
  border: 1px solid transparent;
  background-color: transparent;
  padding: 0;
}
.button:hover,
.button:focus,
.button:active {
  opacity: 0.6;
  border-color: var(--button-hover-border-color);
}

.button--primary {
  background-color: var(--primary-color);
  color: var(--secondary-color);
}

.button--secondary {
  background-color: var(--secondary-color);
  border-color: var(--button-border-color);
  color: var(--primary-color);
}

.button--small {
  font-size: 12px;
  padding: 10px 16px;
}

.button--medium {
  font-size: 14px;
  padding: 11px 20px;
}

.button--large {
  font-size: 14px;
  padding: 12px 24px;
}

