.button {
  font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 700;
  border-radius: 60px;
  cursor: pointer;
}

.button--primary {
  color: #000000;
  border: 1px #0000001A solid;
  background-color: transparent;
}

.button--tertiary {
  color: #000000;
  background-color: transparent;
  border: none;
}

.button--small {
  font-size: 12px;
  padding: 10px 16px;
}
.button--medium {
  font-size: 14px;
  padding: 11px 20px;
}
.button--large {
  font-size: 14px;
  padding: 16px 54px;
}

.button--black {
  color: #FFFFFF;
  background-color: #000000;
}

.button--white {
  color: #000000;
  background-color: #FFFFFF;
}

.button--block {
  display: block;
  width: 100%;
}
