
.price {
  font-size: var(--font-size-medium);
  font-weight: 700;
  display: flex;
  align-items: center;
  margin-top: 1%;
  margin-bottom: 1%;
}

.price--discounted,
.price--original {
  margin-right: 1%;
}

.price--original.has-discount {
  color: var(--disabled-color);
  text-decoration: line-through;
}

.price--discount {
  color: var(--discount-color);
  border-radius: 20px;
  background-color: var(--discount-bg-color);
  font-size: var(--font-size-xxx-small);
  padding: 6px 14px;
}
