@import './assets/fonts/stylesheet.css';

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

:root {
  font-family: 'Satoshi', fallback-font, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--light-dark-color);
  background-color: var(--primary-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* color  */
  --primary-color: #000000;
  --secondary-color: #FFFFFF;
  --tertiary-color: #00000099;

  --border-color: #0000001A;
  --light-dark-color: #ffffffde;
  --dark-light-color: #F0EEED;

  --orange-color: #FFC633;
  --disabled-color: #00000066;
  --discount-color: #FF3333;
  --discount-bg-color: #FF33331A;
  --hover-icon-color: #00000080
  ;


  /* font size  */
  --font-size-xxx-small: 10px;
  --font-size-xx-small: 12px;
  --font-size-x-small: 14px;
  --font-size-small: 16px;
  --font-size-medium: 20px;
  --font-size-large: 24px;
  --font-size-x-large: 32px;
  --font-size-xx-large: 36px;

  /* height  */
  --height-x-small: 20px;
  --height-small: 22px;
  --height-medium: 32px;
  --height-large: 34x;
  --height-x-large: 36x;
}

.full-width {
  width: 100%;
  display: block;
}

a {
  text-decoration: none;
}

a:hover,
a:active,
a:focus {
  text-decoration: underline;
  cursor: pointer;
}

.hide {
  display: none;
}


@media (prefers-color-scheme: light) {
  :root {
    color: var(--primary-color);
    background-color: var(--secondary-color);
  }
}
@media (prefers-color-scheme: dark) {
  :root {
    color: var(--secondary-color);
    background-color: var(--primary-color);
  }
}
